@model CypherAndDecypher.Models.CypherDecypher
@using System.Linq;
@{
    ViewData["Title"] = "Cypher / Decypher by Jan Jakeš for TIETOevry";
}

<div style="height:75vh;">
    <div class="h-50"></div>
    <form asp-action="Index" class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <input type="text" class="form-control" asp-for="cypherFrom" value="@ViewData["cypherFrom"]" id="InputCypherFrom" placeholder="Enter text to cypher">
            </div>
            <div class="col-md-4 text-center">
                <input type="submit" asp-for="cypherSubmit" class="btn btn-secondary btn-outline-dark w-50 smbt" value="De/Cypher">
            </div>
            <div class="col-md-4">
                <input readonly type="text" asp-for="@ViewData["cypherResult"]" class="form-control" id="InputCypherTo" placeholder="Result">
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <p class="font-weight-bold">FROM:</p>
            </div>
            <div class="col-md-3">
                <div class="dropdown text-right">
                    <input readonly class="btn btn-secondary btn-outline-white dropdown-toggle btnDropFrom" style="cursor:pointer" type="text" id="dropDownCypherFrom" value="@ViewData["cypherDropFrom"]" asp-for="cypherDropFrom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu dropdown-menuFrom" aria-labelledby="dropDownCypherFrom">
                        <a class="dropdown-item" href="#">Normal</a>
                        @foreach (KeyValuePair<string, CypherAndDecypher.Interfaces.ICyphers> kv in CyphersList.cyphers)
                        {
                            <a class="dropdown-item" href="#">@kv.Key</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!--divider-->
            </div>
            <div class="col-md-1 text-center">
                <p class="font-weight-bold">TO:</p>
            </div>
            <div class="col-md-3 text-right">
                <div class="dropdown text-right">
                    <input readonly class="btn btn-secondary btn-outline-white dropdown-toggle btnDropTo" style="cursor:pointer" type="text" id="dropDownCypherTo" value="@ViewData["cypherDropTo"]" asp-for="cypherDropTo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="dropdown-menu dropdown-menuTo" aria-labelledby="dropDownCypherTo">
                        <a class="dropdown-item" href="#">Normal</a>
                        @foreach (KeyValuePair<string, CypherAndDecypher.Interfaces.ICyphers> kv in CyphersList.cyphers)
                        {
                            <a class="dropdown-item" href="#">@kv.Key</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:50vh; position:relative;">
            <div class="col-md-12 text-center" style="margin: 0px auto">
                <h3 style="text-decoration:underline">History</h3>
                <div class="text-left border" style="height: 90%; max-height:400px; overflow:auto; background-color:rgb(255,255,255,0.2); padding: 5px;">
                    <!--<p>[25/11/21 12:45] (Normal) zdaar => (Morse) .--.--|.-..</p>-->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" width="1">Date</th>
                                <th scope="col" width="1">From</th>
                                <th scope="col">Input</th>
                                <th scope="col" width="1">To</th>
                                <th scope="col">Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in CypherAndDecypher.Logger.LoggerList.history.AsEnumerable().Reverse())
                            {
                                <tr>
                                    <th scope="row">@row.date</th>
                                    <td style="font-weight:bold">@row.cypherFrom</td>
                                    <td>@row.cypherFromText</td>
                                    <td style="font-weight:bold">@row.cypherTo</td>
                                    <td>@row.cypherToText</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
